body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/confetti.jpg);

  }
  /* CSS BOX */
  .box{
    background-color: lightgrey;
    width: 1200px;
    border: 10px solid rgb(0, 34, 128);
    padding: 50px;
    margin: 20px;
    border-radius: 20px;

  }


  span {
    margin: 20px;
    padding: 20px;
    width: 80px;
    height: 50px;
    background-color: lightblue;
    border: 2px solid blue;
    display: inline-block;
  }
  /* NAV BAR */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
  
  .topnav a.active {
    background-color: #aa0404;
    color: white;
  }
  /*animate*/
  .comm {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    animation-name: sampleBox;
    animation-duration: 20s;
  }
  
  @keyframes sampleBox {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

